<!DOCTYPE html>
<html>
<head>
    <title>Windy Planets People</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>People from Windy Planets</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Homeworld</th>
                <th>Climate</th>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.homeworld.name }}</td>
                <td>{{ person.homeworld.climate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
