body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    border: 1px solid #333;
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
}

td.empty {
    border: none;
}

.element {
    width: 100%;
    height: 100%;
    padding: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.atomic-number {
    position: absolute;
    top: 2px;
    left: 3px;
    font-size: 9px;
    font-weight: normal;
}

.atomic-mass {
    position: absolute;
    top: 2px;
    right: 3px;
    font-size: 8px;
    font-weight: normal;
}

.symbol {
    font-size: 22px;
    font-weight: bold;
}

.name {
    font-size: 8px;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    text-align: center;
}
