services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      - POSTGRES_DB=djangotrain
      - POSTGRES_USER=djangouser
      - POSTGRES_PASSWORD=secretpassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
