{% extends 'ex00/base.html' %}
{% load i18n %}

{% block title %}{% trans "Articles" %}{% endblock %}

{% block content %}
<h1 class="mb-4">{% trans "Articles" %}</h1>
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Author" %}</th>
                <th>{% trans "Created" %}</th>
                <th>{% trans "Synopsis" %}</th>
                <th>{% trans "Detail" %}</th>
                <th>{% trans "Time Since" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.author }}</td>
                <td>{{ article.created }}</td>
                <td>{{ article.synopsis|truncatechars:20 }}</td>
                <td><a href="{% url 'article_detail' article.pk %}" class="btn btn-sm btn-primary">{% trans "Detail" %}</a></td>
                <td>{% blocktrans with time=article.created|timesince %}{{ time }} ago{% endblocktrans %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
